<div class="container">

    <h1>Detalles de {{title}}</h1>

    <hr>

    <p>Título: {{title}}</p>
    <p>Descripción: {{description}}</p>
    <p>Autor: {{author}}</p>
    <p>Puntuación: {{rating}}</p>

    <hr>

    <a class="btn btn-dark" href="/libros/listado">Volver al listado</a>
</div>